.discript__title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    line-height: 28px;
    color: #2F3D50;
    margin-bottom: 3rem!important;
    flex-wrap: wrap;
}